<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="qds164505679_dbConnectionString" connectionString="Data Source=qds164505679.my3w.com;Initial Catalog=qds164505679_db;Persist Security Info=True;User ID=qds164505679;Password=Admin66233"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <customErrors mode="Off"/>
      <compilation debug="true" targetFramework="4.0" />
      
    </system.web>
  <appSettings>
    <add key="conString" value="server=qds164505679.my3w.com;database=qds164505679_db;uid=qds164505679;pwd=Admin66233"/>
  </appSettings>
</configuration>
